<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Seguimiento_y_Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Pruebas
    <add name="Seguimiento_ACC_Entities" connectionString="metadata=res://*/Entity.Seguimiento.csdl|res://*/Entity.Seguimiento.ssdl|res://*/Entity.Seguimiento.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=desarrollo-pc;User Id=root;password=1234;Persist Security Info=True;database=seguimiento_test&quot;" providerName="System.Data.EntityClient" />
    <add name="Logisn_Entities"          connectionString="metadata=res://*/Entity.Internet.Logis.csdl|res://*/Entity.Internet.Logis.ssdl|res://*/Entity.Internet.Logis.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=servidorx;User Id=root;password=1234;Persist Security Info=True;database=corrales_logisn&quot;" providerName="System.Data.EntityClient" />
    <add name="Portal_Entities"          connectionString="metadata=res://*/Entity.Internet.Portal.csdl|res://*/Entity.Internet.Portal.ssdl|res://*/Entity.Internet.Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=servidorx;User Id=root;password=1234;Persist Security Info=True;database=corrales_portal&quot;" providerName="System.Data.EntityClient" />
    <add name="Traspasos_Entities"       connectionString="metadata=res://*/Entity.Traspasos.Traspasos.csdl|res://*/Entity.Traspasos.Traspasos.ssdl|res://*/Entity.Traspasos.Traspasos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=servidorx;User Id=root;password=1234;Persist Security Info=True;database=seguimiento_traspasos&quot;" providerName="System.Data.EntityClient" />
    -->
    <!-- Produccion -->
    <add name="Seguimiento_ACC_Entities" connectionString="metadata=res://*/Entity.Seguimiento.csdl|res://*/Entity.Seguimiento.ssdl|res://*/Entity.Seguimiento.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=servidorx;User Id=etiquetas;password=corrales;Persist Security Info=True;database=seguimiento_acc&quot;" providerName="System.Data.EntityClient" />
    <add name="Logisn_Entities"          connectionString="metadata=res://*/Entity.Internet.Logis.csdl|res://*/Entity.Internet.Logis.ssdl|res://*/Entity.Internet.Logis.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=loscorrales.com.mx;User Id=corrales_logisn;password=acceso.2013;Persist Security Info=True;database=corrales_logisn&quot;" providerName="System.Data.EntityClient" />
    <add name="Portal_Entities"          connectionString="metadata=res://*/Entity.Internet.Portal.csdl|res://*/Entity.Internet.Portal.ssdl|res://*/Entity.Internet.Portal.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=loscorrales.com.mx;User Id=corrales_portal;password=acceso.2013;Persist Security Info=True;database=corrales_portal&quot;" providerName="System.Data.EntityClient" />
    <add name="Traspasos_Entities"       connectionString="metadata=res://*/Entity.Traspasos.Traspasos.csdl|res://*/Entity.Traspasos.Traspasos.ssdl|res://*/Entity.Traspasos.Traspasos.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=loscorrales.com.mx;User Id=traspasos;password=traspasos;Persist Security Info=True;database=corrales_traspasos&quot;" providerName="System.Data.EntityClient" />        
  </connectionStrings>
</configuration>